<div class="row text-left">
  <div class="col-md-6 px-5 py-5">
    <h1>Washing Machine</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, 
      adipisicing elit. Repellendus, enim perferendis 
      alias fuga iure modi quis repellat voluptatibus 
      consequuntur dignissimos cupiditate, maxime eum 
      eligendi nemo. Molestiae soluta fugit placeat iure.
      Lorem ipsum dolor sit amet consectetur, 
      adipisicing elit. Repellendus, enim perferendis 
      alias fuga iure modi quis repellat voluptatibus 
      consequuntur dignissimos cupiditate, maxime eum 
      eligendi nemo. Molestiae soluta fugit placeat iure.
    </p>
    <br>
    <button routerLink="/products" class="btn btn-primary">Back to Products</button>
  </div>
  <div class="col-md-6 text-right">
    <figure><img src="../../../assets/images/washing-machine.jpg" alt=""></figure>
  </div>
</div>