<div class="row text-left">
  <div class="col-md-6 px-5 py-5">
    <h1>{{'home.title' | translate}}</h1>
    <p>{{'home.p' | translate}}</p>
    <br>
    <button class="btn btn-primary">{{'home.btn' | translate}}</button>
    <br>
    <br>
    <!-- <button class="btn btn-success" (click)="startLoading()">Start</button> 
    <button class="btn btn-danger" (click)="stopLoading()" >Stop</button> -->

  </div>
  <div class="col-md-6 text-right">
    <figure class="noImg">{{'home.title' | translate}}</figure>
  </div>
</div>