<div class="page-area">
  <h2>Home</h2>
  <div #box>
    <h1>User Name is <span class="text-success">{{userName}}</span></h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button (click)="changeChildProperty()">Change Child Property</button> &nbsp;
      <button (click)="callChildMethod()">Call Child Method</button>

      <div class="custom-dropdown">
        <span class="dropdown-header" appDropdown>
          My Dropdown
        </span>
        <div class="dropdown-content">
          <a href="">Item 1</a>
          <a href="">Item 2</a>
          <a href="">Item 3</a>
          <a href="">Item 4</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-comp2>
        <p #childCon>This is ng content paragraph</p>
      </app-comp2>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
 

</div>