<div class="row text-left">
  <div class="col-md-6 px-5 py-5">
    <h1>Laptop</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, 
      adipisicing elit. Repellendus, enim perferendis 
      alias fuga iure modi quis repellat voluptatibus 
      consequuntur dignissimos cupiditate, maxime eum 
      eligendi nemo. Molestiae soluta fugit placeat iure.
      Lorem ipsum dolor sit amet consectetur, 
      adipisicing elit. Repellendus, enim perferendis 
      alias fuga iure modi quis repellat voluptatibus 
      consequuntur dignissimos cupiditate, maxime eum 
      eligendi nemo. Molestiae soluta fugit placeat iure.
    </p>
    <br>
    <div class="custom-dropdown">
      <span class="dropdown-header" appDropdown>
        My Dropdown
      </span>
      <div class="dropdown-content">
        <a href="">Item 1</a>
        <a href="">Item 2</a>
        <a href="">Item 3</a>
        <a href="">Item 4</a>
      </div>
    </div>
    <button routerLink="/products" class="btn btn-primary">Back to Products</button>
  </div>
  <div class="col-md-6 text-right">
    <figure><img src="../../../assets/images/laptop.jpg" alt=""></figure>
  </div>
</div>