<!-- (focus)="myMethod()"  // An element has received focus
(blur)="myMethod()"   // An element has lost focus

(submit)="myMethod()"  // A submit button has been pressed

(scroll)="myMethod()"

(cut)="myMethod()"
(copy)="myMethod()"
(paste)="myMethod()"

(keydown)="myMethod()"
(keypress)="myMethod()"
(keyup)="myMethod()"

(mouseenter)="myMethod()"
(mousedown)="myMethod()"
(mouseup)="myMethod()"

(click)="myMethod()"
(dblclick)="myMethod()"

(drag)="myMethod()"
(dragover)="myMethod()"
(drop)="myMethod()" -->



<!-- 
<input type="text" value="myinputtext" (click)="onInputClick($event)"> -->
<!-- 
<button value="Laptop" (click)="onAddCart($event)">Laptop</button>
<button value="TV" (click)="onAddCart($event)">TV</button>
<button value="Washing Machine" (click)="onAddCart($event)">washing machine</button>

<p>{{msg}}</p> -->


<input #inputInfo type="text" value="Uxtrendz" name="Anup">

<button (click)="getInputInfo(inputInfo)"> Get Info</button>
