<div class="page-area">
  <div class="text-center">
      <h2><span>Our </span>Services</h2>
      <p>Lorem ipsum dolor sit amet consectetur
         adipisicing elit. Earum quidem repellendus 
         labore obcaecati natus itaque voluptates eius! <br>
          Voluptate tenetur vel beatae. Quam natus assumenda dolores sed fuga. Tempora, quam exercitationem.</p>
  </div>
  
  <hr class="mb-3">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <img src="../../assets/images/ui-ux.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">UI/UX Development</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
          <a routerLink="ui-ux" class="btn btn-success">Know More</a>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/images/graphic-design.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Graphic Design</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
          <a routerLink="graphic-design" class="btn btn-success">Know More</a>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/images/video-editing.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Video Editing</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
          <a routerLink="video-editing" class="btn btn-success">Know More</a>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/images/vfx-animation.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">VFX and Animation</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
          <a routerLink="vfx-animation" class="btn btn-success">Know More</a>
        </div>
      </div>
    </div>
    
  </div>
</div>