<div class="page-area">
  <h2 class="text-center">Manage User</h2>
  <div class="container border-top pt-5">
    <div class="row">
      <div class="col-md-6">
        <h2>Add Users</h2>
        <form #userForm="ngForm" (ngSubmit)="onAddUser(userForm.value)">
          <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control" autocomplete="off"
            name="name" ngModel required>
          </div>
          <div class="form-group">
            <label>Technology Use</label>
            <input type="text" class="form-control" autocomplete="off"
            name="technology" ngModel required>
          </div>
          <button type="submit" class="btn btn-primary mr-2">{{editMode? 'Update User': 'Add User'}} </button>
   
          <button type="button" class="btn btn-warning">Fetch User</button>
        </form>
      </div>
      <div class="col-md-6">
        <h2>Ux Users</h2>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Technology</th>
              <th scope="col" class="text-center">Edit</th>
              <th scope="col" class="text-center">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; index as i">
              <td>{{user.name}}</td>
              <td>{{user.technology}}</td>
              <td class="text-center"><a class="text-danger" (click)="onEditUser(user.userId, i)"><i class="far fa-edit"></i></a></td>
              <td class="text-center"><a class="text-danger" (click)="onDeleteUser(user.userId)"><i class="far fa-trash-alt"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>