.img-gallery .item{
    border: 1px solid #ddd;
    padding: 9px;
    margin: 0 0 18px;
    display: block
}
.img-gallery h6 {
    font-weight: 400;
    font-family: 'Roboto';
    font-size: 1.5rem;
    padding: 5px 0;
}