

<div class="row text-left">
  <div class="col-md-12 px-5 py-5">
    <h1>Our Gallery</h1>
  </div>
  <div class="row img-gallery px-5">
    <div class="col-md-3" *ngFor="let item of galleryImages">
      <a class="item" [routerLink]="[item.id]">
        <figure><img src="{{item.imgUrl}}" alt=""></figure>
        <h6>{{item.title}}</h6>
      </a>
    </div> 
    <div class="col-md-3" *ngFor="let item of videoGallery">
        
        <!-- <iframe width="560" height="315" src="{{item.videoUrl}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    </div>
    
  </div>
</div>
