<div class="page-area">
  <div class="text-center">
      <h2>Products</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quidem repellendus labore obcaecati natus itaque voluptates eius! Voluptate tenetur vel beatae. Quam natus assumenda dolores sed fuga. Tempora, quam exercitationem.</p>
  </div>
  
  <hr class="mb-3">

  <div class="row">
    <div class="col-md-8">
      <div class="card" appTestdirective>
        <img src="../../assets/images/laptop.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Laptop</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
          <a routerLink="laptop" class="btn btn-success">Know More</a>
        </div>
      </div>
      <div class="card" appTestdirective>
        <img src="../../assets/images/mobile.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mobile</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
          <a routerLink="mobile" class="btn btn-success">Know More</a>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/images/television.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Television</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
          <a routerLink="television" class="btn btn-success">Know More</a>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/images/washing-machine.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Washing Machine</h5>
          <p class="card-text">Some quick example text to build on the card title.</p>
          <a routerLink="washing-machine" class="btn btn-success">Know More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 border-left">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>